<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos culturais</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'eventos/css/styles.css' %}">
</head>
<body>
    <h1>Lista de Eventos</h1>
    <ul>
        {% for evento in eventos %}
            <li>
                <a href="{% url 'detalhes' evento.id %}">{{ evento.nome_evento }}</a> - {{evento.cidade}}
                
                
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cadastro_evento' %}">Adicionar novo evento</a>
    
</body>
</html>